a,
a:active,
a:visited {

	display: block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	line-height: 60px;
	background:orange;
	margin-top: 20px;
	text-align: center;

}

.working{

	background: #A9A7A7;
}


body{

	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 800px;

}

article {

	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}

img	{

	width: 100%;
	height: auto;
	text-align: center;

	
}

p,
li{

	line-height: 30px;
	font-weight: 100;
}

blockquote{

	font-weight: bold;
	text-transform: uppercase;
	color: orange;
}

h1	{

	color: #0390B3;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 20px;
}

h2{

	font-size: 20px;
	font-weight: 500;

}

